:root {
    --login-width: 400px;
    --login-height: 500px;
}

@font-face {
    font-family: Raleway-Black;
    src: url('../assets/fonts/Raleway-Black.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../assets/fonts/Raleway-Regular.ttf');
}

html {
    margin: none;
    padding: none;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/login_background.jpg");
    background-size: cover;
}

.login-form {
    width: var(--login-width);
    height: var(--login-height);
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc(var(--login-height) / -2) 0 0 calc(var(--login-width) / -2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    animation: 1.5s ease-out 0s 1 slideInFromTop;
}

.login-form h1 {
    padding-top: 30px;
    font-family: Raleway-Black;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.login-form .alert {
    margin-left: 12%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    width: 75%;
    line-height: 50px;
}

.login-form .alert-danger {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.login-form .alert p {
    font-family: Raleway-Regular;
}

.login-form .alert-danger p {
    color: #721c24;
}

#login-form {
    margin-top: 40px;
}

.login-form .user-box {
    position: relative;
    width: 75%;
    text-align: center;
    margin-left: 13%;
}

.login-form .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

.login-form .user-box label {
    font-family: Raleway-Regular;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.login-form .user-box input:focus~label,
.login-form .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #000;
    font-size: 12px;
}

.login-form .remember-me {
    text-align: center;
    font-family: Raleway-Regular;
}

.login-form .login-button {
    text-align: center;
    padding-top: 50px;
}

.login-form .login-button button {
    width: 75%;
    height: 50px;
    font-family: Raleway-Black;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(141, 90, 74);
    box-shadow: 0px 0px 3px #000;
}

.login-form .login-button button:active {
    box-shadow: 0px 0px 0px #000;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateX(0);
    }
}